
   <!-- 轮播-->
   <div id="myNiceCarousel" class="carousel slide" data-ride="carousel">
  <!-- 圆点指示器 -->
  <ol class="carousel-indicators">
    <li data-target="#myNiceCarousel" data-slide-to="0"></li>
    <li data-target="#myNiceCarousel" data-slide-to="1"></li>
    <li data-target="#myNiceCarousel" data-slide-to="2"></li>
  </ol>

  <!-- 轮播项目 -->
  <div class="carousel-inner">
  <foreach name="banner" item="val">
    <div class="item">
     <a href="/">
     	 <img alt="First slide" src="__ROOT__/{$val.banner_img}" style="width: 100%; max-height: 430px;">
     </a>
    </div>
  </foreach>
  </div>

  <!-- 项目切换按钮 -->
  <a class="left carousel-control" href="#myNiceCarousel" data-slide="prev">
    <span class="icon icon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#myNiceCarousel" data-slide="next">
    <span class="icon icon-chevron-right"></span>
  </a>
</div>

     <!-- 轮播-->
    <div class="container klcontainer">
        <h1 class="text-center">
            易启学炒股，就上昆仑财富
        </h1>

        <ul class="zb-list-ul">
            <li>
                <h2 class="btc"><span></span>牛股直播</h2>
            </li>
            <li class="bner-con">

            	<div class="col-xs-6">
            		<a href="{:U('Curriculum/index')}?uid={$chief.1.u_id}"><img style="width:606px;height:280px " src="__ROOT__/{$chief.1.cover_img}" class="hover_optin"></a>
            	</div>
            	<div class="col-xs-3">
            		<p>	
            			<a href="{:U('Curriculum/index')}?uid={$chief.2.0.u_id}"><img style="width:270px ;height:130px " class="hover_optin" src="__ROOT__/{$chief.2.0.cover_img}"></a>
            		</p>
            		<p>
            			<a href="{:U('Curriculum/index')}?uid={$chief.2.1.u_id}"><img style="width:270px ;height:130px " class="hover_optin" src="__ROOT__/{$chief.2.1.cover_img}"></a>
            		</p>
            	</div>
            	<div class="col-xs-3">
            			<a href="{:U('Curriculum/index')}?uid={$chief.3.u_id}">
            				<img style="width:300px ;height:280px " src="__ROOT__/{$chief.3.cover_img}" class="hover_optin" >
            			</a>
            	</div>
            </li>
        </ul>
          <ul class="zb-list-ul sb_list">
            <li class="he_h2">
                <h2 class="btc"><span></span>涨停热点</h2>
            </li>
          <foreach name="content" item="con">
          <li>
          	<div class="zt_com">
          		<a href="{:U('Index/info')}?id={$con.id}">
          			<h3>{$con.title}</h3>
          			<p>{$con.content}</p>
          		</a>
          	</div>
          	<div class="zt_sb">
          		<div class="fl sb_date_l">
          		<a href="/">
          			<img src="__ROOT__/{$con.head_img}" alt="" style="width: 30px;">
          			{$con.nickname}
          		</a>
          		
          		</div>
          		<div class="fr sb_date_r">
          			<span>
          				{$con.ftime} 
          			</span>
          			<span>
          				{$con.read}  阅读
          			</span>
          		</div>
          	</div>
          </li>
            </foreach>
        </ul>
        <p class="klts text-center">
            <img src="__PUBLIC__/index/images/bx.png" alt=""> 想看更多的请点击我们的公众号！
        </p>
    </div>
