<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <title>昆仑财富</title>
    <meta name="keywords" content="昆仑财富
" />
    <meta name="description" content="昆仑财富
" />
    <link rel="shortcut icon" href="__PUBLIC__/index/images/ybtx_favicon.ico" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- zui -->
    <link href="__PUBLIC__/index/css/video-js.css" rel="stylesheet">
    <link href="__PUBLIC__/index/css/zui.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/index/css/kui.css">
</head>

<body>
    <!--[if lt IE 9]>
    <div class="alert alert-danger">您正在 使用 <strong>过时的</strong> 浏览器. 是时候 <a href="http://browsehappy.com/">更换一个更好的浏览器</a> 来提升用户体验.</div>
  <![endif]-->
    <!--
    未登录-->
    <div class="klBannerConTwo">
        <div class="container">
            <nav class="navbar" role="navigation">
                <div class="container-fluid">
                    <!-- 导航头部 -->
                    <div class="navbar-header">
                        <!-- 移动设备上的导航切换按钮 -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-example">
                            <span class="sr-only">切换导航</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- 品牌名称或logo -->
                        <a class="navbar-brand " href="your/nice/url">
                            <img src="__PUBLIC__/index/images/logo.png" alt="" class="kllogo">
                        </a>
                    </div>
                    <!-- 导航项目 -->
                    <div class="collapse navbar-collapse navbar-collapse-example csx-xx" style="margin-left: 200px;">
                        <!-- 一般导航项目 -->
                        <ul class="nav navbar-nav">
                            <li ><a href="{:U('Index/index')}">首页</a></li>
                            <li ><a href="{:U('Lecturer/index')}">金牌讲师</a></li>
                            <li ><a href="{:U('Review/index')}">实战辅导</a></li>
                            <li ><a href="{:U('Curriculum/index')}">课程培训</a></li>
                            <li ><a href="{:U('Activity/index')}">大赛活动</a></li>
                            <li ><a href="{:U('Strategy/index')}">VIP投资策略</a></li>
                                <!-- <li ><a href="jsJp.html">金牌讲师</a></li>-->
                        </ul>
                      
                    </div>
                    <!-- END .navbar-collapse -->
                </div>
            </nav>
        </div>

    </div>