<include file="Public:header" />
<include file="Public:menu" />
			<div class="main-content">
				<!-- #section:basics/content.breadcrumbs -->
				<div class="breadcrumbs" id="breadcrumbs">
					<ul class="breadcrumb">
						<li>
							<i class="ace-icon fa fa-home home-icon"></i>
							<a href="{:U('Personnel/rolelist')}">角色列表</a>
						</li>
					</ul><!-- /.breadcrumb -->

					<!-- #section:basics/content.searchbox -->
					<div class="nav-search" id="nav-search">
						<form class="form-search">
							<span class="input-icon">
								<input type="text" placeholder="请输入关键字 ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
								<i class="ace-icon fa fa-search nav-search-icon"></i>
							</span>
						</form>
					</div><!-- /.nav-search -->

					<!-- /section:basics/content.searchbox -->
				</div>

				<div class="page-content">
					<div class="page-content-area">
									<div class="col-xs-12">

										<div class="table-responsive">

											<table id="sample-table-2" class="table table-striped table-bordered table-hover">
												<thead>
													<tr>
														<th class="center">
															<label class="position-relative">
																<input type="checkbox" class="ace" />
																<span class="lbl"></span>
															</label>
														</th>
														<th>角色名称</th>
				                                        <th>拥有权限</th>
				                                        <th>操作</th>
													</tr>
												</thead>
												<foreach name="res_role" item="v">
												<tbody>
													<tr>
														<td class="center">
															<label class="position-relative">
																<input type="checkbox" class="ace" />
																<span class="lbl"></span>
															</label>
														</td>
				                                        <td>{$v.name}</td>
				                                        <td class="hidden-480"><span onclick="shield()" id="sor" data="{$v.r_id}" style="cursor:pointer;">查看</span></td>
				                                        <td class="hidden-480">编辑</td>
													</tr>
												</foreach>
												</tbody>
											</table>

<!-- 											<div class="modal-footer no-margin-top">

												<ul class="pagination pull-right no-margin">
													<li class="prev disabled">
														<a href="#">
															<i class="ace-icon fa fa-angle-double-left"></i>
														</a>
													</li>

													<li class="active">
														<a href="#">1</a>
													</li>

													<li>
														<a href="#">2</a>
													</li>

													<li>
														<a href="#">3</a>
													</li>

													<li class="next">
														<a href="#">
															<i class="ace-icon fa fa-angle-double-right"></i>
														</a>
													</li>
												</ul>
											</div>
 -->
										</div>

										


									</div>

					</div><!-- /.page-content-area -->
				</div><!-- /.page-content -->
			</div><!-- /.main-content -->

<script type="text/javascript" src='__PUBLIC__/assets/js/jquery.min.js'></script>
<style>
html,body {
    margin:0;
    height:100%;
}
#test {
    width:100%;
    height:100%;
    background-color:#000;
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    opacity:0.3;
    /*兼容IE8及以下版本浏览器*/
    filter: alpha(opacity=30);
    display:none;
}

#log_window {
    width:600px;
    height:100px;
    background-color:#F0F0F0;    
    margin: auto;
    position: absolute;
    z-index:3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display:none;
}
</style>
<script>
function shield(){
	var r_id=$("#sor").attr("data");
	var url="{:U('Home/Power/shownode')}";
	var send={r_id:r_id}
	$.post(url,send,function(message){
	    var s = document.getElementById("test");
	    s.style.display = "block";
	    var l = document.getElementById("log_window");
	    l.style.display = "block";
	    $("#node_text").html(message);		
	})


}

function cancel_shield(){
    var s = document.getElementById("test");
    s.style.display = "none";
    
    var l = document.getElementById("log_window");
    l.style.display = "none";
}
</script>
</head>

<body>
<!-- <a href="javascript:shield()">打开遮罩</a> -->
<div id="test"></div>
<div id="log_window">
<a href="javascript:cancel_shield()">关闭</a>
<br>
	<div style="margin-left:30px" id="node_text"></div>
</div>
</body>
</html>

