
  
    <div class="container klcontainer">
   		<div class="kl_naber_no">
   			<ul>
    <if condition="!$id"><li><a href="{:U('Strategy/index')}" class="active">最新</a></li>
    <else /><li><a href="{:U('Strategy/index')}">最新</a></li>
    </if>        
   				
          <foreach name="viewpoint" item="vie">
          <if condition=" $id == $vie.id ">
   				<li><a href="{:U('Strategy/index')}?id={$vie.id}" class="active">{$vie.name}</a></li>
           <else />
          <li><a href="{:U('Strategy/index')}?id={$vie.id}">{$vie.name}</a></li>           
           </if>
          </foreach>
   			</ul>
   		</div>
          <ul class="zb-list-ul sb_list">
          <foreach name="content" item="con">
          <li>
          	<div class="zt_com">
          		<a href="{:U('Index/info')}?id={$con.id}">
          			<h3>{$con.title}</h3>
          			<p>{$con.content}</p>
          		</a>
          	</div>
          	<div class="zt_sb">
          		<div class="fl sb_date_l">
          		<a href="/">
          			<img src="__ROOT__/{$con.head_img}" alt="" style="width: 30px;">
          			{$con.nickname}
          		</a>
          		
          		</div>
          		<div class="fr sb_date_r">
          			<span>
          				{$con.ftime}
          			</span>
          			<span>
          				{$con.read} 阅读
          			</span>
          		</div>
          	</div>
          </li>
          </foreach>
        </ul>
        <p class="klts text-center">
            <img src="images/bx.png" alt=""> 想看更多的请点击我们的公众号！
        </p>
    </div>
  