
   <!-- 轮播-->
   <div id="myNiceCarousel" class="carousel slide" data-ride="carousel">
  <!-- 圆点指示器 -->
  <ol class="carousel-indicators">
    <li data-target="#myNiceCarousel" data-slide-to="0"></li>
    <li data-target="#myNiceCarousel" data-slide-to="1"></li>
    <li data-target="#myNiceCarousel" data-slide-to="2"></li>
  </ol>

  <!-- 轮播项目 -->
  <div class="carousel-inner">
    <div class="item">
     <a href="/">
     	 <img alt="First slide" src="__PUBLIC__/index/images/inder_baner01.png" style="width: 100%; max-height: 430px;">
     </a>
    </div>
    <div class="item">
      <a href="/">
      	 <img alt="First slide" src="__PUBLIC__/index/images/inder_baner02.png" style="width: 100%;max-height: 430px;">
      </a>
     
    </div>
    <div class="item">
        <a href="/">
      	 <img alt="First slide" src="__PUBLIC__/index/images/inder_baner03.png" style="width: 100%;max-height: 430px;">
      </a>
     
    </div>
  </div>

  <!-- 项目切换按钮 -->
  <a class="left carousel-control" href="#myNiceCarousel" data-slide="prev">
    <span class="icon icon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#myNiceCarousel" data-slide="next">
    <span class="icon icon-chevron-right"></span>
  </a>
</div>

     <!-- 轮播-->
    <div class="container klcontainer">
        <h1 class="text-center">
            易启学炒股，就上昆仑财富
        </h1>

        <ul class="zb-list-ul">
            <li>
                <h2 class="btc"><span></span>牛股直播</h2>
            </li>
            <li class="bner-con">
            	<div class="col-xs-6">
            		<a href="/Index/Teacher/details.html"><img src="__PUBLIC__/index/images/baner02.png" class="hover_optin"></a>
            	</div>
            	<div class="col-xs-3">
            		<p>	
            			<a href="/Index/Teacher/details.html"><img class="hover_optin" src="__PUBLIC__/index/images/baner02.png"></a>
            		</p>
            		<p>
            			<a href="/Index/Teacher/details.html"><img class="hover_optin" src="__PUBLIC__/index/images/baner02.png"></a>
            		</p>
            	</div>
            	<div class="col-xs-3">
            			<a href="/Index/Teacher/details.html">
            				<img src="__PUBLIC__/index/images/baner03.png" class="hover_optin" >
            			</a>
            	</div>
            </li>
        </ul>
          <ul class="zb-list-ul sb_list">
            <li class="he_h2">
                <h2 class="btc"><span></span>涨停热点</h2>
            </li>
          <li>
          	<div class="zt_com">
          		<a href="文章详情.html">
          			<h3>大魔王大魔王大魔王大魔王大魔王大魔王大魔</h3>
          			<p>大魔王大魔王大魔王大魔王大魔王大魔王大魔王大魔王大魔王大魔王大魔王大魔王大魔王大魔王大魔王大魔王大魔王大魔王大魔王大魔王大魔王大魔王</p>
          		</a>
          	</div>
          	<div class="zt_sb">
          		<div class="fl sb_date_l">
          		<a href="/">
          			<img src="__PUBLIC__/index/images/bx.png" alt="" style="width: 30px;">
          			大魔王
          		</a>
          		
          		</div>
          		<div class="fr sb_date_r">
          			<span>
          				今天 05：16 
          			</span>
          			<span>
          				1888 阅读
          			</span>
          		</div>
          	</div>
          </li>
        
        </ul>
        <p class="klts text-center">
            <img src="__PUBLIC__/index/images/bx.png" alt=""> 想看更多的请点击我们的公众号！
        </p>
    </div>
