<div class="main-content">
	<div class="breadcrumbs" id="breadcrumbs">
		<ul class="breadcrumb">
			<li>
				<i class="ace-icon fa fa-home home-icon"></i>
				<a href="{:U('Review/index')}">实战回顾</a>
			</li>
		</ul><!-- /.breadcrumb -->
		<div class="nav-search" id="nav-search">
			<form class="form-search">
				<span class="input-icon">
					<a href="{:U('Review/index')}" class="nav-search-input">实战回顾</a>
				</span>
			</form>
		</div><!-- /.nav-search -->
	</div>
	<div class="page-content">
		<div class="page-content-area">
			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->
					<form class="form-horizontal" role="form" action="{:U('Review/index')}"  enctype="multipart/form-data" method="post">
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="limited">实战数据：</label>
							<div class="col-sm-9">
								<div class="pos-rel">
									<input type="file" name="review_img"  class="col-xs-10 col-sm-5" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-tags">操盘体系：</label>
							<div class="col-sm-2">
								<div class="pos-rel">
									<select class="form-control" id="form-field-select-1" name="s_id">
													<option value="0">选择操盘体系</option>
													<if condition="!empty($system)">
														<foreach name="system" item="v">
															<option value="{$v.id}">{$v.name}</option>
														</foreach>
													</if>
												</select>
								</div>
							</div>
						</div>
						<div class="clearfix form-actions">
							<div class="col-md-offset-3 col-md-9">
								<input class="btn btn-info" type="submit" value="立即提交">
								&nbsp; &nbsp; &nbsp;
								<button class="btn" type="reset">
									<i class="ace-icon fa fa-undo bigger-110"></i>
									重置
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

