			<div class="main-content">
				<!-- #section:basics/content.breadcrumbs -->
				<div class="breadcrumbs" id="breadcrumbs">
					<ul class="breadcrumb">
						<li>
							<i class="ace-icon fa fa-home home-icon"></i>
							<a href="{:U('Lecturer/edit')}">编辑个人资料</a>
						</li>
					</ul><!-- /.breadcrumb -->

					<!-- #section:basics/content.searchbox -->
					<div class="nav-search" id="nav-search">
						<form class="form-search">
							<span class="input-icon">
								<a href="{:U('Lecturer/index')}" class="nav-search-input">个人资料</a>
							</span>
						</form>
					</div><!-- /.nav-search -->

					<!-- /section:basics/content.searchbox -->
				</div>

				<div class="page-content">
					<div class="page-content-area">

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<form class="form-horizontal" role="form" action="{:U('Lecturer/edit')}"  enctype="multipart/form-data" method="post">
									<!-- #section:elements.form -->
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 昵称：</label>

										<div class="col-sm-9">
											<input type="text" name="nickname" value="{$admin_user.nickname}" id="form-field-1" placeholder="输入部门名称" class="col-xs-10 col-sm-5" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="limited">头像：</label>
										<div class="col-sm-9">
											<div class="pos-rel">
												<input type="file" name="head_img"  class="col-xs-10 col-sm-5" />
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1-1">地址： </label>

										<div class="col-sm-9">
											<input type="text" name="address" value="{$admin_user.address}" id="form-field-1-1" placeholder="输入差旅单名称" class=" col-xs-10 col-sm-5" />
										</div>
									</div>

									<!-- /section:elements.form -->
									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-2">年龄： </label>

										<div class="col-sm-9">
											<input type="text" name="age" value="{$admin_user.age}" id="form-field-2" placeholder="年龄" class="col-xs-10 col-sm-5" />
										</div>
									</div>

									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-input-readonly">所属机构：</label>

										<div class="col-sm-9">
											<input type="text" name="mechanism" value="{$admin_user.mechanism}" id="form-field-2" placeholder="所属机构" class="col-xs-10 col-sm-5" />
										</div>
									</div>


									<div class="space-4"></div>


									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-input-readonly">从业年限： </label>

										<div class="col-sm-9">
											<input type="text" name="Industry_time" value="{$admin_user.Industry_time}" id="form-field-2" placeholder="从业年限" class="col-xs-10 col-sm-5" />
										</div>
									</div>

									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="typeahead">个人签名：</label>

										<div class="col-sm-9">
											<!-- #section:plugins/bootstrap.typeahead-js -->
											<div class="pos-rel">
												<input type="text" name="autograph" value="{$admin_user.autograph}" id="form-field-2" placeholder="个人签名" class="col-xs-10 col-sm-5" />
											</div>

											<!-- /section:plugins/bootstrap.typeahead-js -->
										</div>
									</div>


									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="limited">个人简介：</label>
										<div class="col-sm-9">
											<div class="pos-rel">
												<textarea class="form-control limited autosize-transition" name="describe" id="limited" maxlength="300">{$admin_user.describe}</textarea>
											</div>
										</div>
									</div>


									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-tags">擅长领域：</label>
										<div class="col-sm-2">
											<if condition="!empty($label)">
															
												<foreach name="label" item="v">
													<div class="checkbox" style="float: left">
														<label>
															<input name="labe[]" value="{$v.id}" type="checkbox"  class="ace" />
															<span class="lbl"> {$v.name}</span>
														</label>
													</div>								
												</foreach>				
						
											</if>																															
										</div>
									</div>


									<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
											<input class="btn btn-info" type="submit" value="立即提交">
											&nbsp; &nbsp; &nbsp;
											<button class="btn" type="reset">
												<i class="ace-icon fa fa-undo bigger-110"></i>
												重置
											</button>
										</div>
									</div>

								</form>

							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content-area -->
				</div><!-- /.page-content -->
			</div><!-- /.main-content -->
